#footer {
position: absolute;
bottom: 0;
width: 100%;
text-align: center;
}
.formphp{
  margin-top: 10px;
  background-color: rgba(255,255,255,0.60);
}
form{
  margin-top: 10px;
}
.Ok{
  text-align:center;
  padding-top : 10%;
  font-size:25px;
}
h2{
  margin-top: 10px;
  background-color: rgba(255,255,255,0.95);
  text-align:center;
}
.col-6{
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}
html {
    position: relative;
    min-height: 100%;
}
body{
  background-color: rgb(120,120,120);
}
.container:last-of-type{
  padding-bottom: 5%;
}

.image_film{
  max-width: 200px;
  height: auto;
}

.cardfilm {
  height: 100%;
}
